.widgets{
    display: flex;
    flex-direction: column;
    border: 1px solid green;

    padding: 10px 30px;
    
    
    
}

.widgets__count{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    border: 1px solid greenyellow;
    gap: 20px;
    padding: 10px 10px;
    margin-left: 80px;
    

    .students{
        display: flex;
        // justify-content: center;
        align-items: center;
        border: 1px solid red;
        gap: 30px;
        width: 400px;
        padding: 10px 15px;
        margin: 10px;

        h1{
            font-size: 50px;
            line-height: 80px;
            font-weight: 800;
            word-spacing: 10px;
            letter-spacing: 0.1px;
            font-family: var(--font-base);
            font-family: 'Nunito', sans-serif;
            margin: 10px;

            span{
             
                color: #FFD43B;
                font-size: 89px;
            }
        }
        span{
            font-size: 24px;
            font-weight: 900;
            font-family: 'Nunito', sans-serif;;
            color: var(--new-color);
            word-spacing: 10px;
            letter-spacing: 0.5px;
            line-height: 38px;
           

            
        }

        
    }
    
}