.nav{
 display: flex;   
 flex-direction: row;
 justify-content: space-between;
 border: 1px solid green;
 align-items: center;
 padding:  10px 30px;
 background-color: var(--white-color);

 .nav__left{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    width: 150px;
    padding: 10px;
    margin-left: 20px;
    .nav__logo{
        width: 120px;
        img{
            width: 100%;
        }
    }
 }

    .nav__mid{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 650px;
        border: 1px solid brown;
        margin-right: 50px;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            li{
                list-style: none;
                margin: 14px;
                a{
                    text-decoration: none;
                }
            }
            
        }
    }

    .nav__right{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid yellow;

        .nav__right-login{
            display: flex;
            flex-direction: row;
            gap: 20px ;
            button{
                border: 0;
                outline: 0;
                padding: 10px 12px;
                background-color: aqua;
                border-radius: 15px ;
                font-size: 18px ;
                line-height: 19px;
            }
        }



        .nav__right-btns{
            display: flex;
            flex-direction: row;
            gap: 20px ;
            button{
                border: 0;
                outline: 0;
                padding: 10px 12px;
                background-color: aqua;
                border-radius: 15px ;
                font-size: 18px ;
                line-height: 19px;
            }
        }

            
    }
}